.earthquakes {
  border: 1px solid;
  border-radius: 5px;
}

.earthquakes__body:nth-child(n) {
  margin-top: 1rem;
  border-bottom: 1px solid;

  padding-bottom: 1rem;
  padding-top: 1rem;
}

.earthquakes__body:nth-child(even) {
  background: border-box beige;
}

.row {
  border: 1px solid #ccc;
}

.col {
  padding: 10px;
  border-right: 1px solid #ccc;
}
